@import "tailwindcss";
@font-face {
	font-family: "Archivo";
	src: url("/fonts/Archivo.ttf");
}

@theme {
	--color-ivory: #fde4d3;
	--color-ivory-300: #dbc6b8;
	--color-ivory-400: #bfada1;
	--color-ivory-600: #877a72;

	--color-steel: #262624;
	--color-steel-100: #9ea3a7;
	--color-steel-200: #918d84;
	--color-steel-300: #6b6863;
	--color-steel-500: #454340;
	--color-steel-600: #363432;
	--color-steel-700: #1f1e1d;

	--color-tan: #f7ae73;
	--color-goo: #7ed857;
	--color-crimson: #d85757;

	--color-text: var(--color-ivory-300);
	/* --color-secondary: orange; */
	--color-accent: var(--color-goo);

	--color-border: var(--color-steel-600);
	--color-background: var(--color-steel);

	--font-family: "Archivo", sans-serif;
}

*[data-tauri-drag-region] {
	app-region: drag;
}

:root {
	/* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

html,
body,
#root {
	@apply w-full h-full overflow-hidden;
}

body {
	background-color: var(--color-background);
	font-family: var(--font-family);
	color: var(--color-text);
}

h1 {
	font-size: 2.2em;
	font-weight: bold;
}

h2 {
	font-size: 1.8em;
	font-weight: 600;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	@apply w-[8px] h-[8px] bg-transparent;
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-steel-300 rounded-[4px] opacity-20;
}

::-webkit-scrollbar-thumb:hover {
	@apply opacity-40;
}

.hide-scroll {
	scrollbar-width: none;
}

.hide-scroll ::-webkit-scrollbar {
	display: none;
}

.sweep-up {
	animation: float-up 100ms ease-in;
	animation-timing-function: cubic-bezier(1.95, 0.05, 0.795, 0.035);
}

@keyframes float-up {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

#module-content {
	* {
		margin-top: 0.5em;
		/* i've seen some pretty styling choices from a few modules */
		/* so we enforce some consistent styling here, ideally we clean the html */
		/* a little more in the future */
		font-family: var(--font-family) !important;
		color: var(--color-text) !important;
		background: none !important;
	}

	pre {
		font-family: "JetBrains Mono", "Fira Code", "Consolas", monospace !important;
	}

	a {
		color: var(--color-tan);
		text-decoration: none;
	}

	img {
		margin: 0 auto;
		max-height: 500px;
		border-radius: 8px;
	}

	h1 {
		font-size: 1.8em;
		font-weight: 600;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 600;
	}

	h3 {
		font-size: 1.4em;
		font-weight: 600;
	}

	h4 {
		font-size: 1.2em;
		font-weight: 600;
	}

	ul {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	ol {
		list-style-type: decimal;
		margin-left: 1.5em;
	}

	/* ideally we'd have tables scroll horizontally when it overflows */
	/* but we don't (yet) control parents of the table element */
	table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}

	tr {
		background: none !important;
	}

	td,
	th {
		border: 1px solid var(--color-steel-300);
		background: none;
		padding: 8px;
		text-align: left;
		vertical-align: top;
		word-wrap: break-word;
	}

	hr {
		border-top: 1px solid var(--color-steel-300);
		margin: 1em 0;
	}
}
