@import "tailwindcss";
@font-face {
	font-family: "Archivo";
	src: url("/fonts/Archivo.ttf");
}

@theme {
	--color-ivory: #fde4d3;

	--color-wood: #130a01;
	--color-wood-100: #c9a683;
	--color-wood-300: #52361a;
	--color-wood-500: #2e1904;
	--color-wood-700: #0f0801;

	--color-tan: #f7ae73;
	--color-mint: #edf341;
	--color-goo: #c8f113;
}

*[data-tauri-drag-region] {
	app-region: drag;
}

:root {
	/* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	--color-text: var(--color-ivory);
	--color-background: var(--color-wood);
}

html,
body,
#root {
	@apply w-full h-full overflow-hidden;
}

body {
	background-color: var(--color-background);
	font-family: "Archivo", sans-serif;
	color: var(--color-text);
}

h1 {
	font-size: 2.2em;
	font-weight: bold;
}

h2 {
	font-size: 1.8em;
	font-weight: 600;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	@apply w-[8px] h-[8px] bg-transparent;
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-wood-100 rounded-[4px] opacity-20;
}

::-webkit-scrollbar-thumb:hover {
	@apply opacity-40;
}

.hide-scroll {
	scrollbar-width: none;
}

.hide-scroll ::-webkit-scrollbar {
	display: none;
}

.sweep-up {
	animation: float-up 100ms ease-in;
	animation-timing-function: cubic-bezier(1.95, 0.05, 0.795, 0.035);
}

@keyframes float-up {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

#module-content {
	* {
		margin-top: 0.5em;
	}

	a {
		color: var(--color-tan);
		text-decoration: none;
	}

	img {
		margin: 0 auto;
		max-height: 500px;
		border-radius: 8px;
	}

	h1 {
		font-size: 1.8em;
		font-weight: 600;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 600;
	}

	h3 {
		font-size: 1.4em;
		font-weight: 600;
	}

	h4 {
		font-size: 1.2em;
		font-weight: 600;
	}

	ul {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	ol {
		list-style-type: decimal;
		margin-left: 1.5em;
	}

	table {
		border-collapse: collapse;
	}

	tr {
		background: none !important;
	}

	td,
	th {
		border: 1px solid var(--color-wood-300);
		background: none;
		padding: 8px;
		text-align: left;
		vertical-align: top;
	}

	hr {
		border-top: 1px solid var(--color-wood-300);
		margin: 1em 0;
	}
}
